<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.5.1" targetFramework="net472" requireReinstallation="true" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="WPF-UI.Abstractions" version="4.0.1" targetFramework="net472" />
</packages>